.practice-area {
    background-color: #ddd;
    width: 40%;
    padding: 50px 30px;
    box-shadow: #fff;
    margin: auto;
}
header {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    width: 90%;
    margin: 0  auto;
}
.content img {
    width: 92%;
}

marquee a {
    padding: 10px 20px;
    background-color: aqua;
}